html, body {
    width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
}

tr, output, #texto{
    color: #7f7d44;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 25px;
}

input{
    background-color: #8B8B83;
    color: #025285;
    width: 70px;
    height: 25px;
    font-weight: bold; 
    font-size: 20px;
}

#resultado {
    text-align:center;
}

#texto{
    text-decoration: underline;
    text-align: center;
}
#cabeçalho, #resultado{
    background-color: #025285;  
}
#cabeçalho {
    border: 10px solid;
    border-color: #7f7d44; 
}

#resultado{
    border-radius: 20px;
    margin-left: 530px;
    margin-right: 530px;
}

.logo {
    margin-left: 560px;    
}

.C1, .C2, .C3{
    padding: 50px 50px 50px 50px;
    text-align: center;
}

.C11, .C12, .C13, .C21, .C22, .C23, .C31, .C32, .C33 {
    display:inline;
}
